# This file is for development use

services:
  # database service
  db:
    image: postgres
    restart: always
    environment:
      - POSTGRES_PASSWORD=unsafe
      - POSTGRES_USER=user
      - POSTGRES_DB=convive-iteso-db
    container_name: convive-iteso-database
    ports:
      - "5432:5432"

  # aws services
  localstack:
    image: localstack/localstack
    container_name: mov-e-aws-services
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3 # add your AWS service here if you need it
      - DEFAULT_REGION=us-east-1
      - AWS_DEFAULT_REGION=us-east-1
      - AWS_REGION=us-east-1
    depends_on:
      - db

  mailhog:
    image: mailhog/mailhog
    container_name: smtp-server
    restart: always
    ports:
      - "1025:1025"   # SMTP server
      - "8025:8025"   # Web UI

  redis:
    image: redis:7
    container_name: convive-iteso-redis
    restart: unless-stopped
    ports:
      - "6379:6379"

  localstack-initializer:
    image: amazon/aws-cli
    depends_on:
      - localstack
    entrypoint: |
      sh -c " 
        mkdir -p /root/.aws && 
        echo '[default]' > /root/.aws/credentials && 
        echo 'aws_access_key_id = test' >> /root/.aws/credentials && 
        echo 'aws_secret_access_key = test' >> /root/.aws/credentials &&
        echo '[default]' > /root/.aws/config &&
        echo 'region = us-east-1' >> /root/.aws/config &&
        until aws --endpoint-url=http://localstack:4566 s3 ls; do
          echo 'Waiting for localstack...'
          sleep 5
        done
        echo 'Creating S3 bucket...'
        aws --endpoint-url=http://localstack:4566 s3 mb s3://convive-iteso-dev
      "
