# === Environment variables ===
NODE_ENV=development
BACKEND_URL=http://localhost:8080
FRONTEND_URL=http://localhost:3000
# === Database ===
DATABASE_URL=postgresql://user:unsafe@localhost:5432/convive-iteso-db